<div>
  <!--Search button-->
  <form [formGroup]="filterForm">
    <div class="p-8 top-0 right-0">
      <div class="flex items-center rounded-full shadow-xl">
        <mat-form-field
          floatLabel="never"
          class="w-1/2 py-4 px-6 leading-tight"
          color="accent"
        >
          <input
            formControlName="purchaseId"
            matInput
            id="purchaseId"
            type="text"
            placeholder="Id"
          />
        </mat-form-field>
        <mat-form-field
          floatLabel="never"
          class="w-1/2 py-4 px-6 leading-tight"
          color="accent"
        >
          <input
            formControlName="supplierId"
            matInput
            id="supplierId"
            type="text"
            placeholder="supplier id"
          />
        </mat-form-field>
        <mat-form-field
          floatLabel="never"
          class="w-1/2 py-4 px-6 leading-tight"
          color="accent"
        >
          <mat-label>Secgli una data</mat-label>
          <input
            formControlName="billDate"
            matInput
            [matDatepicker]="picker"
            id="billDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="p-4">
          <button mat-mini-fab color="accent" (click)="filter()">
            <mat-icon aria-label="search">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>

  <mat-card class="example-card" *ngFor="let card of obs | async">
    <mat-card-header>
      <mat-card-title>{{ card.purchaseId }}</mat-card-title>
      <mat-card-subtitle>{{ card.billDate }}</mat-card-subtitle>
    </mat-card-header>
    <span class="spacer"></span>
    <mat-card-content>
      <p>{{ card.purchaseDate | date: "dd/MM/yyyy" }}</p>
      <!--Lista Oggeti-->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Acquisti </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Lista oggetti-->
          <mat-list role="list">
            <div *ngFor="let item of card.acquistiProdotti">
              <mat-list-item role="listitem">
                <p>ASIN: {{ item.asin }}</p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <p>price: {{ item.unitPrice }}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
          <!--Fine lista oggeti-->
        </mat-expansion-panel>
      </mat-accordion>
      <!--Fine lista oggetti-->
    </mat-card-content>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openDettaglio(card)">
      <mat-icon aria-label="info" color="link">info</mat-icon>
    </button>
  </mat-card>
  <div class="pb-10"></div>
  <mat-paginator
    class="w-full fixed bottom-0"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</div>
