<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body divLogin">

                <form [formGroup]="loginForm">
                  <mat-card>
                    <div class="row">
                      <mat-form-field appearance="standard">
                        <mat-label>username</mat-label>
                        <input matInput>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field appearance="standard">
                        <mat-label>passworda  </mat-label>
                        <input matInput>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>
                    <button type="button" mat-flat-button color="primary" (click) ="login()">Login</button>
                  </mat-card>
                </form>

                
              </div>
            </div>

          </div>
        </div>
      </div>
  </main>
</div>