<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="mat-elevation-z4" role="navigation" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="ordini">
        <mat-icon aria-label="ordini"> receipt_long </mat-icon>
        Ordini
      </a>
      <a mat-list-item routerLink="prodotti">
        <mat-icon aria-label="prodotti">category</mat-icon>
        Prodotti
      </a>
      <a mat-list-item routerLink="acquisti">
        <mat-icon aria-label="acquisti">storefront</mat-icon>
        Acquisti
      </a>
      <a mat-list-item routerLink="analisi">
        <mat-icon aria-label="analisi">show_chart</mat-icon>
        Analisi Vendite
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="region">
    <mat-toolbar
      *ngIf="!loginPage"
      color="primary"
      class="mat-elevation-z6 z-50 top-0 fixed"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Seller Manager</span>

      <div *ngIf="(isHandset$ | async) === false" class="flex h-full">
        <mat-divider vertical class="w-5"></mat-divider>
        <button
          mat-button
          routerLink="ordini"
          [disabled]="actualPage === '/ordini'"
        >
          <mat-icon aria-label="ordini"> receipt_long </mat-icon>
          Ordini
        </button>
        <button
          mat-button
          routerLink="prodotti"
          [disabled]="actualPage === '/prodotti'"
        >
          <mat-icon aria-label="prodotti">category</mat-icon>
          Prodotti
        </button>
        <button
          mat-button
          routerLink="acquisti"
          [disabled]="actualPage === '/acquisti'"
        >
          <mat-icon aria-label="acquisti">storefront</mat-icon>
          Acquisti
        </button>
        <button
          mat-button
          routerLink="analisi"
          [disabled]="actualPage === '/analisi'"
        >
          <mat-icon aria-label="analisi">show_chart</mat-icon>
          Analisi Vendite
        </button>
      </div>
      <span class="flex-auto"></span>
      <button mat-icon-button>
        <mat-icon aria-label="notifiche">notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="carrello">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="logout" (click)="logout()">logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="pt-10"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
